In [1]:
flower_price = 5

In [2]:
flower_type = "rose"

In [3]:
flower_color = 'white'

In [4]:
flower_new ="tulip'

SyntaxError: EOL while scanning string literal (<ipython-input-4-1e166411d634>, line 1)

In [5]:
flower_new ='tulip'

In [6]:
flower_new ="dark_rose"

In [7]:
flower_price=3.5

In [8]:
print(flower_price)

3.5

In [9]:
print(Flower_price)

NameError: name 'Flower_price' is not defined

In [10]:
Flower_price = 5

In [11]:
print(Flower_price)

5

In [12]:
type(Flower_price)

int

In [13]:
type(flower_type)

str

In [15]:
str(flower_price)

'3.5'

In [16]:
type(str(flower_price))

str

In [17]:
flower_price_str=str(flower_price)

In [18]:
type(flower_price_str)

str

In [19]:
int(3.6)

3

In [20]:
flower_price

3.5

In [21]:
flower_price+4

7.5

In [22]:
flower_price * 4

14.0

In [23]:
flower_price_str * 4

'3.53.53.53.5'

In [24]:
flower_type*4

'roseroseroserose'

In [25]:
flower_type + 4

TypeError: can only concatenate str (not "int") to str

In [26]:
flower_type + "4"

'rose4'

In [27]:
flower_type * 3.5

TypeError: can't multiply sequence by non-int of type 'float'

In [28]:
string1= "Vienna"

In [30]:
string2 = " is the capital of Austria"

In [31]:
string1+string2

'Viennais the capital of Austria'

In [33]:
full_variable = string1 + " " + string2

In [34]:
full_variable.upper()

'VIENNA IS THE CAPITAL OF AUSTRIA'

In [35]:
full_variable.title()

'Vienna Is The Capital Of Austria'

In [36]:
full_variable.title().lower()

'vienna is the capital of austria'

In [37]:
string1.title() + string2.lower()

'Viennais the capital of austria'

In [38]:
string1.upper() + string2.lower()

'VIENNAis the capital of austria'

In [39]:
my_list=["1", 3, "Vienna"]

In [40]:
my_list[0]

'1'

In [41]:
my_list[1]

3

In [42]:
my_list[2]

'Vienna'

In [43]:
my_list[-1]

'Vienna'

In [45]:
variable=len(my_list)-1

In [46]:
variable

2

In [47]:
my_list[variable]

'Vienna'

In [48]:
my_list[3]

IndexError: list index out of range

In [49]:
my_list[len(my_list)-1]

'Vienna'

In [50]:
my_list

['1', 3, 'Vienna']

In [51]:
my_list.append("f")

In [52]:
my_list

['1', 3, 'Vienna', 'f']

In [53]:
my_list2=['1', 3, 'Vienna']

In [54]:
my_list2.extend("e")

In [55]:
my_list2

['1', 3, 'Vienna', 'e']

In [60]:
my_list2

['1', 3, 'Vienna', 'e']

In [61]:
my_list2.extend(["a","b"])

In [62]:
my_list2

['1', 3, 'Vienna', 'e', 'a', 'b']

In [63]:
my_list2.append(["34","45","54"])

In [64]:
my_list2

['1', 3, 'Vienna', 'e', 'a', 'b', ['34', '45', '54']]

In [65]:
len(my_list2)

7

In [66]:
my_list2[-1]

['34', '45', '54']

In [67]:
my_list2[-1][0]

'34'

In [68]:
my_list2[len(my_list2-1)][0]

TypeError: unsupported operand type(s) for -: 'list' and 'int'

In [69]:
my_list2[len(my_list2)-1][0]

'34'

In [70]:
my_list2[0:3]

['1', 3, 'Vienna']

In [71]:
my_list2[:3]

['1', 3, 'Vienna']

In [72]:
my_list2[2:5]

['Vienna', 'e', 'a']

In [73]:
l = ['Alice', 'Bob', 'Charlie', 'Bob', 'Dave']

In [74]:
l

['Alice', 'Bob', 'Charlie', 'Bob', 'Dave']

In [75]:
l.remove("Charlie")

In [76]:
l

['Alice', 'Bob', 'Bob', 'Dave']

In [77]:
l

['Alice', 'Bob', 'Bob', 'Dave']

In [78]:
tuple(l)

('Alice', 'Bob', 'Bob', 'Dave')

In [79]:
type(tuple(l))

tuple

In [80]:
tuple(l).append("a")

AttributeError: 'tuple' object has no attribute 'append'

In [81]:
set(l)

{'Alice', 'Bob', 'Dave'}

In [82]:
list(set(l))

['Bob', 'Alice', 'Dave']

In [83]:
pwd

'/Users/ariedamuco'

In [84]:
string_full

NameError: name 'string_full' is not defined

In [85]:
full_string

NameError: name 'full_string' is not defined

In [86]:
full_string=full_variable

In [87]:
full_string

'Vienna is the capital of Austria'

In [88]:
full_string[0]

'V'

In [89]:
full_string[-1]

'a'

In [90]:
len(full_string)

32

In [91]:
full_string = full_string.lower()

In [92]:
full_string

'vienna is the capital of austria'

In [93]:
full_string.split()

['vienna', 'is', 'the', 'capital', 'of', 'austria']

In [94]:
full_string.split("a")

['vienn', ' is the c', 'pit', 'l of ', 'ustri', '']

In [95]:
string_split_a=full_string.split("a")

In [96]:
string_split_a

['vienn', ' is the c', 'pit', 'l of ', 'ustri', '']

In [97]:
"".join(string_split_a)

'vienn is the cpitl of ustri'

In [98]:
"+".join(string_split_a)

'vienn+ is the c+pit+l of +ustri+'

In [99]:
"a".join(string_split_a)

'vienna is the capital of austria'

In [100]:
[3, '4', '5', '36', 8, '']

[3, '4', '5', '36', 8, '']

In [101]:
mixed=[3, '4', '5', '36', 8, '']

In [102]:
mixed

[3, '4', '5', '36', 8, '']

In [103]:
"".join(mixed)

TypeError: sequence item 0: expected str instance, int found

In [104]:
mixed=[str(3), '4', '5', '36', 8, '']

In [105]:
mixed

['3', '4', '5', '36', 8, '']

In [106]:
"".join(mixed)

TypeError: sequence item 4: expected str instance, int found

In [107]:
mixed=['3', '4', '5', '36', "8", '']

In [108]:
"".join(mixed)

'345368'

In [109]:
" ".join(mixed)

'3 4 5 36 8 '

In [110]:
empty_list=[]

In [111]:
empty_string= ""

In [112]:
type(empty_list)

list

In [113]:
type(empty_string)

str

In [114]:
empty_dictionary={}

In [115]:
type(empty_dictionary)

dict

In [116]:
phone_book={'rose':3444, 'jack':5668}

In [117]:
phone_book['jack']

5668

In [118]:
phone_book['jake']=8769

In [119]:
phone_book

{'rose': 3444, 'jack': 5668, 'jake': 8769}

In [120]:
phone_book.keys()

dict_keys(['rose', 'jack', 'jake'])

In [121]:
type(phone_book.keys())

dict_keys

In [122]:
phone_book.keys()[-1]

TypeError: 'dict_keys' object is not subscriptable

In [123]:
phone_book.items()

dict_items([('rose', 3444), ('jack', 5668), ('jake', 8769)])

In [124]:
phone_book.items()[-1]

TypeError: 'dict_items' object is not subscriptable

In [125]:
phone_book.values()

dict_values([3444, 5668, 8769])

In [126]:
list(phone_book.values())

[3444, 5668, 8769]

In [127]:
phone_book.values()[-1]

TypeError: 'dict_values' object is not subscriptable

In [128]:
list(phone_book.values())[-1]

8769

In [129]:
list(phone_book.items())

[('rose', 3444), ('jack', 5668), ('jake', 8769)]

In [130]:
list(phone_book.items())[-1]

('jake', 8769)

In [131]:
type(list(phone_book.items())[-1])

tuple

In [132]:
list(list(phone_book.items())[-1])

['jake', 8769]

In [133]:
"guido" in phone_book

False

In [134]:
"rose" in phone_book

True

In [135]:
mixed

['3', '4', '5', '36', '8', '']

In [136]:
"3" in mixed

True

In [137]:
"a" in mixed

False