In [1]:
10 == 10

True

In [2]:
price_flower = 10

In [3]:
type_flower = "10"

In [4]:
type_flower == price_flower

False

In [5]:
type_flower != price_flower

True

In [6]:
int(type_flower) != price_flower

False

In [7]:
int(type_flower) == price_flower

True

In [8]:
price_flower <= 100

True

In [9]:
price_flower <= 4

False

In [10]:
type_flower

'10'

In [11]:
price_flower == 9 and type_flower == "10"

False

In [12]:
price_flower == 9 and type_flower == "rose"

False

In [13]:
price_flower == 10 and type_flower == "10"

True

In [14]:
price_flower == 10 or type_flower == "rose"

True

In [15]:
if price_flower == 10:
    print("yes, we made it")

yes, we made it

In [16]:
if price_flower == "10":
    print("yes, we made it")

In [17]:
if price_flower != "10":
    print("yes, we made it")

yes, we made it

In [18]:
if price_flower == "10":
    print("yes, we made it")
else:
    print("this not correct")

this not correct

In [19]:
if price_flower == 10:
    print("yes, we made it")
else:
    print("this not correct")

yes, we made it

In [20]:
var1 = "flower"
var2 = "FLOWER".lower()
if var2 == var1:
    print("Yay!!")
else:
    print("Words did not match")

print("End program")

Yay!!
End program

In [21]:
var1 = "flower"
var2 = "FLOWER".lower()
if var2 == var1:
    print("Yay!!")
    print("End program")
else:
    print("Words did not match")

Yay!!
End program

In [22]:
var1 = "flower"
var2 = "FLOWER".lower()
if var2 == var1:
    print("Yay!!")
else:
    print("Words did not match")
    print("End program")

Yay!!

In [23]:
for banana in ["a", "B", "b", "c", "a"]:
    print(banana)

a
B
b
c
a

In [24]:
print(banana)

a

In [25]:
my_string = "this is a very late class!"

In [26]:
for char in my_string:
    print (char)

t
h
i
s

i
s

a

v
e
r
y

l
a
t
e

c
l
a
s
s
!

In [27]:
print(char)

!

In [28]:
char = 9

In [29]:
for flower in ["tulip", "rose", "lily"]:
    print (flower)

tulip
rose
lily

In [30]:
for element in [1, 5, 8]:
    print (element + 1)

2
6
9

In [31]:
for flower in ["tulip", "rose", "lily"]:
    print (flower * 3)

tuliptuliptulip
roseroserose
lilylilylily

In [32]:
for flower in ["tulip", "rose", "lily"]:
    print (flower.upper())

TULIP
ROSE
LILY

Get the number of characters in a string of your own choice. Change the variable name in the for loop to make your code readable.
Compare the value of the length variable with the value you get using the built in funtion `len()`

In [33]:
random_string = """A bicycle, also called a bike or cycle, is a human-powered or motor-powered, pedal-driven, single-track vehicle, having two wheels attached to a frame, one behind the other. A bicycle rider is called a cyclist, or bicyclist.Bicycles were introduced in the 19th century in Europe, and by the early 21st century, more than 1 billion were in existence at a given time.[1][2][3] These numbers far exceed the number of cars, both in total and ranked by the number of individual models produced.[4][5][6] They are the principal means of transportation in many regions. They also provide a popular form of recreation, and have been adapted for use as childrens toys, general fitness, military and police applications, courier services, bicycle racing, and bicycle stunts. The basic shape and configuration of a typical upright or "safety bicycle", has changed little since the first chain-driven model was developed around 1885.[7][8][9] However, many details have been improved, especially since the advent of modern materials and computer-aided design. These have allowed for a proliferation of specialized designs for many types of cycling. The bicycles invention has had an enormous effect on society, 
both in terms of culture and of advancing modern industrial 
methods. Several components that eventually played a key 
role in the development of the automobile were initially 
invented for use in the bicycle, including ball bearings, 
pneumatic tires, chain-driven sprockets and tension-spoked
wheels.[10]Although bike and cycle are used interchangebly to
refer mostly to 2 types of 2 wheelers the terms still vary
across the world. In India for example a cycle refers only 
to a 2 wheeler using pedal power whereas the term bike is 
used to describe a 2 wheeler using internal combustion engine or electric motors as a source of motive power instead of motorcycle/motorbike."""

In [34]:
random_string

'A bicycle, also called a bike or cycle, is a human-powered or motor-powered, pedal-driven, single-track vehicle, having two wheels attached to a frame, one behind the other. A bicycle rider is called a cyclist, or bicyclist.Bicycles were introduced in the 19th century in Europe, and by the early 21st century, more than 1 billion were in existence at a given time.[1][2][3] These numbers far exceed the number of cars, both in total and ranked by the number of individual models produced.[4][5][6] They are the principal means of transportation in many regions. They also provide a popular form of recreation, and have been adapted for use as childrens toys, general fitness, military and police applications, courier services, bicycle racing, and bicycle stunts. The basic shape and configuration of a typical upright or "safety bicycle", has changed little since the first chain-driven model was developed around 1885.[7][8][9] However, many details have been improved, especially since the advent of modern materials and computer-aided design. These have allowed for a proliferation of specialized designs for many types of cycling. The bicycles invention has had an enormous effect on society, \nboth in terms of culture and of advancing modern industrial \nmethods. Several components that eventually played a key \nrole in the development of the automobile were initially \ninvented for use in the bicycle, including ball bearings, \npneumatic tires, chain-driven sprockets and tension-spoked\nwheels.[10]Although bike and cycle are used interchangebly to\nrefer mostly to 2 types of 2 wheelers the terms still vary\nacross the world. In India for example a cycle refers only \nto a 2 wheeler using pedal power whereas the term bike is \nused to describe a 2 wheeler using internal combustion engine or electric motors as a source of motive power instead of motorcycle/motorbike.'

In [35]:
len(random_string)

1876

In [36]:
lenght = 0 
for char in random_string:
    lenght = lenght + 1

In [37]:
lenght

1876

In [38]:
lenght == len(random_string)

True

In [39]:
def yell(string):
    yell_string = string.upper()
    return yell_string

In [40]:
yell("Mangos!!")

'MANGOS!!'

In [41]:
yell("Aw thanks <3, I was looking forward to see the movie!")

'AW THANKS <3, I WAS LOOKING FORWARD TO SEE THE MOVIE!'

In [42]:
def yell_test(s):
    yell_string = s.upper()
    return yell_string

In [43]:
yell_test("let's try")

"LET'S TRY"

In [44]:
yell_test(10)

AttributeError: 'int' object has no attribute 'upper'

In [45]:
def yell_test(s):
    yell_string = str(s).upper()
    return yell_string

In [46]:
yell_test(10)

'10'

In [47]:
print(yell_string)

NameError: name 'yell_string' is not defined

In [48]:
yell_string = 100

In [49]:
print (yell_string)

100

In [50]:
def potato_cost(quantity, price):
    cost = quantity*price
    return cost

In [51]:
potato_cost(10, 11)

110

In [52]:
potato_cost(10, 11.8)

118.0

In [53]:
potato_cost(10, 11.8987643)

118.98764299999999

In [54]:
potato_cost(2,"rose")

'roserose'

In [59]:
def potato_cost(quantity, price):
    if type(quantity) == int and type(price) == int:
        cost = quantity*price
    else:
        print("sorry cannot perform this operation")
    return cost

In [60]:
potato_cost(3, 5.5)

sorry cannot perform this operation

In [61]:
def multiplication_variable(a, b):
    multi = a*b
    print (multi)

In [62]:
multiplication_variable(2,3)

6

In [63]:
def multiplication_variable_return(a, b):
    multi = a*b
    return (multi)

In [66]:
2*multiplication_variable(3,5)

15

TypeError: unsupported operand type(s) for *: 'int' and 'NoneType'

In [67]:
2*multiplication_variable_return(3,5)

30

In [68]:
multiplication_variable_return(multiplication_variable_return(3,5),6)

90

In [69]:
value_from_funct = multiplication_variable_return(3,5)

In [70]:
value_from_funct

15

In [73]:
def potato_cost(quantity, price):
    if type(quantity) == int and type(price) == int:
        cost = quantity*price
        return cost
    else:
        print("sorry cannot perform this operation")

In [74]:
potato_cost(3, "5")

sorry cannot perform this operation

In [75]:
for element in [3, 8, 9]:
    print(potato_cost(element, 2))

6
16
18

In [76]:
def my_length(string_to_pass):
    length = 0 
    for char in string_to_pass:
        length = length + 1
    return length

In [77]:
my_length("I'm looking forward for this class to finish")

44

In [78]:
len("I'm looking forward for this class to finish")

44

In [88]:
def potato_cost_type(quantity, price, type_P):
    cost = quantity*price
    type_answer = "The type is: "+ type_P
    return cost, type_answer

In [89]:
 potato_cost_type(3.5, "flower", 6)

TypeError: can't multiply sequence by non-int of type 'float'